body {
  background-size: 1224px;
  font-family: 'Amatic SC', cursive;
  color: white;
  background-color: #4D5127;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 7em;
  margin-top: -.2em;
  padding-top: .2em;
  margin-bottom: -.2em;
}
h2 {
  justify-content: center;
}
header {
  text-shadow: 4px 4px 5px black;
  margin-bottom: 1em;
  background-image: url(../images/bkg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: -1em 0 0 1em;
}
.name {
  font-size: 2em;
  padding: .2em;
}
.header-contact {
  text-shadow: 2px 1px 1px black;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}
.header-contact-inline {
  border-radius: 5px;
  padding: 0em .3em;
  background-color: rgba(111,116,56, 0.6);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(225,237,118);
}
.main_content {
  font-family: 'Josefin Slab', serif;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  font-size: 1em;
  max-width: 1254px;
  margin: auto;
}
.bio {
  text-align: center;
  color: black;
  background-color: rgba(225,237,118, .85);
  border-radius: 5px;
  margin: 1.2em 1em;
  padding: 0 1em;
  box-shadow: 5px 10px 10px rgba(0,0,0,.3);
}
.footer-flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  max-width: 1254px;
  margin: auto;
 
}
.footer-flex > * {
  flex: 1;
  justify-content: space-between;
  text-align: center;
  
}
footer {
  font-weight: bold;
  font-size: 2em;
  width: 100%;
  padding: .5em 0em .4em 0em;
  position: fixed;
  bottom: 0;
  background-color: rgba(225,237,118, .6);
  text-shadow: 3px 3px 5px #4D5127;
}


.bottom-padding {
  padding: 3em;
}

@media (max-width: 512px) {
  h1{
    font-size: 3.5em;
  }
  .header-contact {
    font-size: 1.3em;
  }
  footer {
    font-size: 1.3em;
  }
  .bottom-padding {
    padding: 2em;
  }
}
@media (min-width: 513px) and (max-width: 775px) {
  h1 {
    font-size: 4.5em;
  }
   .header-contact {
    font-size: 1.6em;
  }
   footer {
    font-size: 1.4em;
  }
  .bottom-padding {
    padding: 2em;
  }
}